* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #171118;
  color: #fff;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

.btn-gradient span {
  background: linear-gradient(90deg, #4ed8f7 0%, #d057a1 100%);
  background-clip: text;
  color: transparent;
  font-weight: bold;
}

.oneLine {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
