.divider {
  display: flex;
  width: calc(100% - 225px);
  border-bottom: 2px solid white;
  align-items: center;
  justify-content: space-between;
  margin: 1em auto;
}

.divider > .line {
  width: 0;
  height: 100%;
  border: 1px solid white;
}
.divider > span {
  padding: 0.3em;
}
